/** responsive for large than 575px screen*/

@media (min-width: 575px) {

    :root {
  
      --fs-2: 3.6rem;
      --fs-3: 2.4rem;
  
    }
  
    .container {
      max-width: 540px;
      width: 100%;
      margin-inline: auto;
    }
  
    .h2 { font-size: var(--fs-1); }
  
    .h4 { --fs-4: 2rem; }
  
    .text { font-size: unset; }
  
    .hero-list { max-width: 275px; }
  
    .safety-list,
    .footer-top { grid-template-columns: 1fr 1fr; }
  
  }
  
  
  
  /*** responsive for large than 768px screen*/
  
  @media (min-width: 768px) {
  
    .container { max-width: 720px; }
  
    .grid-list { grid-template-columns: 1fr 1fr; }
  
    .hero .container {
      grid-template-columns: 1fr 1fr;
      align-items: center;
    }
  
    .about-banner { max-width: max-content; }
  
    .service-list { grid-template-columns: 1fr 1fr; }
  
  }
  
  
  
  /*** responsive for large than 992px screen*/
  
  @media (min-width: 992px) {
  
    :root {
      --fs-2: 6rem;
    }
  
    .container { max-width: 960px; }
  
    .grid-list { grid-template-columns: 1fr 1fr; }
  
    .section-text {
      max-width: 70ch;
      margin-inline: auto;
    }
  
    .nav-toggle-btn { display: none; }
  
    .header {
      background-color: transparent;
      box-shadow: none;
      padding-block: 20px;
    }
  
    .header.active {
      background-color: var(--oxford-blue);
      box-shadow: var(--shadow-1);
    }
  
    .navbar,
    .navbar.active {
      all: unset;
      display: block;
    }
  
    .navbar-list {
      display: flex;
      gap: 40px;
    }
  
    .navbar-item:not(:last-child) { border: none; }
  
    .header .btn {
      display: block;
      padding-inline: 40px;
    }
  
    .header .btn:is(:hover, :focus) { box-shadow: var(--shadow-3); }
  
    .about .container {
      grid-template-columns: 1fr 1fr;
      align-items: center;
    }
  
    .about-banner.order-1 { order: 1; }
  
    .service-card {
      display: flex;
      align-items: flex-start;
      text-align: left;
      gap: 10px;
      padding: 30px;
    }
  
    .service-card .card-banner { flex-shrink: 0; }
  
    .service-card .card-title { margin-block: 0 10px; }
  
    .safety-list { grid-template-columns: repeat(3, 1fr); }
  
    .footer-top { grid-template-columns: 1fr 0.5fr 0.5fr 0.75fr; }
  
  }
  
  
  
  /*** responsive for large than 1200px screen*/
  
  @media (min-width: 1200px) {
    :root {
      --fs-1: 3.6rem;
    }
  
    .container { max-width: 1200px; }
  
    .section-text {
      max-width: 75ch;
      margin-block-end: 60px;
    }
  
    .grid-list { grid-template-columns: repeat(3, 1fr); }
  
    .navbar { margin-inline: auto 40px; }
  
    .hero .counter { --fs-2: 8rem; }
  
    .safety .section-text { margin-block-end: 80px; }
  
    .safety-list { grid-template-columns: repeat(4, 1fr); }
  
  }